.faq {
  border-radius: 5px;
  width: 30rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: #ee42675e;

  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.hidden {
  display: none;
  opacity: 0;
}
