.info {
  width: 20%;
  height: 20rem;
  padding: 1rem;

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
  }

  &-text {
    padding: 2rem 0;
    text-align: center;
    font-weight: 600;
  }
}
