.section {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    gap: 5rem;
  }

  &-faqs {
    width: 50%;

    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }

  &-question {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    button {
      background-color: #ee4266;
      margin-top: 2rem;
      font-size: 2rem;
      padding: 2rem 4rem;
    }
  }
  &-heading {
    font-size: 4rem;

    span {
      display: block;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 4rem;
    padding-bottom: 3rem;
    display: block;
    font-weight: 600;
  }
}

.column {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(84, 13, 110, 0.04);
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 0;
  }
}

.thank {
  text-align: center;
  font-size: 3.5rem;
  width: 60%;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}
