.section {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    gap: 5rem;
  }

  &-faqs {
    width: 50%;

    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }

  &-thank {
    width: 100%;
  }

  &-question {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    button {
      background-color: #ee4266;
      margin-top: 2rem;
      font-size: 2rem;
      padding: 2rem 4rem;
    }
  }
  &-heading {
    font-size: 4rem;

    span {
      display: block;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 4rem;
    padding-bottom: 3rem;
    display: block;
    font-weight: 600;
  }
}

.column {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(84, 13, 110, 0.04);
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 0;
  }
}

.thank {
  text-align: center;
  font-size: 3.5rem;
  width: 60%;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.why {
  width: 100%;
  background-color: #f3fcf0;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 5rem 0 5rem 10rem;
  border-radius: 10% 0 0 10%;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    gap: 5rem;
  }

  &::before,
  &::after {
    position: absolute;
    content: url("../../assets/arrows.svg");
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &-text {
    width: 50%;
    z-index: 1;

    @media screen and (max-width: 700px) {
      width: 100%;
      text-align: center;
    }
  }

  &-heading {
    font-size: 2rem;
    width: 70%;
    text-align: center;
    background-color: #540d6e;
    padding: 1rem;
    color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 700px) {
      width: 90%;
      margin: 2rem auto;
    }
  }

  &-links {
    list-style: none;
  }

  &-link {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;

    &::before {
      // content: url("../../assets/check-box.svg");
      height: 2rem;
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-image {
    display: inline-block;
    height: 40rem;
    width: 40rem;
    transform: translateY(-30%);
    z-index: 1;

    @media screen and (max-width: 700px) {
      transform: translateY(0);
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}
