.custButton {
  background-color: #540d6e;
  font-size: 20px;
  padding:1em 2em;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-family: 'Matter';
  font-weight: 500;
  line-height: 24px;
}
